<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aleksus.handtohand">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".HandToHandApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_record_voice_over_white"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".presentation.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.PasswordRecoveryActivity"/>
        <activity android:name=".presentation.RegisterActivity" />
        <activity android:name=".presentation.RegistrationSuccessActivity" />
        <activity android:name=".presentation.RestorePasswordActivity" />
        <activity
            android:name=".presentation.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.SettingsActivity" />
        <activity android:name=".presentation.AboutActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.MyAdsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.EditActivity" />
        <activity android:name=".presentation.NewAdActivity" />
        <activity android:name=".presentation.FilterActivity" />
        <activity android:name=".presentation.FavoritesActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6044f3853c755927dc5f0a74f01e96c7e2a22731" />
    </application>

</manifest>